<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SharePad</title>

    <link ref="stylesheet" src="../css/drawing_index.css">
  </head>
  <body>
  
    <span id="sizing-addon1"><b>Color: </b></span>
    <input type="text" class="form-control" id="line-color" placeholder="Color" aria-describedby="sizing-addon">
  
    <canvas id="drawing"></canvas>
    
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/client.js"></script>
    <script src="socket.io/socket.io.js"></script>
   
  </body>
</html>